<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Find user by username</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body style="grid-template-columns: 1fr 1fr;">
<div data-position="header">
    <h1>Find User by Username </h1><a style="float: right; margin-top: -2em" href="/myAccount">Return to My Account</a>
</div>

<section data-position="create-user">
    <h2>Find user by Username (email)</h2>

    <form action="/findUser" method="POST">
        <input type="text" placeholder="Username" name="username"/>
        <button type="submit">Find User</button>
    </form>
</section>

<section data-position="users">
    <h2>Search Results</h2>
    <ul class="users">
        <% for(var i = 0; i < users.length; i++) { %>
            <section data-position="credit-cards">
                <h3>User Object from Database:</h3>
                First Name: <span><%= users[i].firstName %></span><br>
                Last Name: <span><%= users[i].lastName %></span><br>
                Email: <span><%= users[i].email %></span><br>
                Password [Hashed]: <span><%= users[i].password %></span><br>
                Home Address: <span><%= users[i].homeAddress %></span> <br>
            </section><br>
            <%if(users.length == 1) { %>
                <form action="/findUser">
                    <button type="submit">Show all users</button>
                </form>
            <%}%>
        <% } %>
    </ul>
</section>

<script src="/main.js"></script>
</body>
</html>
