<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Geek Text by Group 3</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>
<div data-position="header">
    <!-- the paragraph here is the login button for the User account -->
    <!-- isLoggedIn is a temporary hardcoded value in the server.js to test ejs conditional statements -->
    <% if(isLoggedIn == true){ %>
        <h1 >Geek Text</h1> <a href="/myAccount" style="float: right; margin-top: -2em" > My Account </a>
    <% } else { %>
        <h1 >Geek Text</h1> <div style="float: right; margin-top: -2em" > <a href="/login">Log in</a> / <a href="/signup">Sign up</a> </div>
    <% } %>

</div>


<section data-position="create-user">
    <h2>Someone Else Fill This up</h2>
    </div>
</section>

<section data-position="update-quote">
    <div>
        <h2>Placeholder!</h2>
        <p>
            Stop reading me
        </p>
        <button id="update-button">Save some kitties</button>
    </div>
</section>

<section data-position="delete-quote">
    <div>
        <h2>Second Placeholder!</h2>
        <p>
            Stop here as well!
        </p>
        <button id="delete-button">Blow up the world</button>
    </div>
    <div id="message"></div>
</section>

<!--section data-position="users">
    <h2>Users</h2>

    <ul class="users">
        <% for(var i = 0; i < users.length; i++) { %>
            <li class="users">
                First Name: <span><%= users[i].firstName %></span> <br>
                Last Name: <span><%= users[i].lastName %></span> <br>
                Email: <span><%= users[i].email %></span> <br>
                Password: <span><%= users[i].password %></span> <br>
                Home Address: <span><%= users[i].homeAddress %></span> <br>
            </li>
        <% } %>
    </ul>
</section -->

<script src="/main.js"></script>
</body>
</html>
