<h3><a class="btn btn-secondary" href="/book"><i class="fa fa-plus"></i> Create New</a> Book List</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Isbn</th>
        <th>Price</th>
        <th>Genre</th>
        <th>Publisher</th>
        <th>Year Published</th>
        <th>Copies Sold</th>
    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.description}}</td>
            <td>{{this.isbn}}</td>
            <td>{{this.price}}</td>
            <td>{{this.genre}}</td>
            <td>{{this.publisher}}</td>
            <td>{{this.yearPublished}}</td>
            <td>{{this.copiesSold}}</td>
            <th></th>
            <td>
                <a href="/book/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/ratingComment/{{_id}}"><i class="fa fa-star fa-lg" aria-hidden="true"></i></a>
                <a href="/book/delete/{{this.id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
