<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create User</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>

<div data-position="header">
    <!-- the paragraph here is the login button for the User account -->
    <!-- isLoggedIn is a temporary hardcoded value in the server.js to test ejs conditional statements -->
    <h1>Your Account</h1> <a style="float: right; margin-top: -2em" href="/logOut">Log out</a>
</div>

<section data-position="create-user">
    <h2>Your information</h2>

    <p>Name: <%= loggedInUser.firstName + " " + loggedInUser.lastName%></p>
    <p>Email: <%= loggedInUser.email%></p>
    <p>Home Address: <%= loggedInUser.homeAddress%></p>

    <table>
        <form action="/editUser" style="display: inline">
            <button class="login-button" type="get">Edit User</button>
        </form>
        <form action="/changePassword" style="display: inline">
            <button class="login-button" type="get">Change password</button>
        </form>
    </table>
</section>

<section data-position="credit-cards">
    <h2>Credit Cards</h2>
    <% if(loggedInUser.creditCards.length == 0){ %>
        Add a Credit Card
        <form action="/addCreditCard" method="POST">
            <input type="text" placeholder="Name on Card" name="cardName"/> <br>
            <input type="text" placeholder="Card Number" name="cardNumber"/><br>
            <input type="month" name="cardExpiration" min="2000-01" value="2020-01"><br>
            <input type="text" placeholder="Card Address" name="cardAddress"/><br>
            <select id="cardType" name="cardType">
                <option value="Visa">Visa</option>
                <option value="Master Card">Master Card</option>
                <option value="American Express">American Express</option>
            </select><br>
            <input type="text" placeholder="Security Code" name="cardCCV"/><br>
            <button type="submit">Add Credit Card</button>
        </form>

    <% } else { %>
        <section data-position="credit-cards">
            <h3>Latest Credit Card:</h3>
            <p>Card Number: <%= loggedInUser.creditCards[loggedInUser.creditCards.length - 1].cardNumber%></p>
            <p>Card Name: <%= loggedInUser.creditCards[loggedInUser.creditCards.length - 1].cardName%></p>
            <p>Billing Address: <%= loggedInUser.creditCards[loggedInUser.creditCards.length - 1].cardAddress%></p>
            <%

                date = loggedInUser.creditCards[loggedInUser.creditCards.length - 1].cardExpiration;
                year = date.getFullYear();
                month = date.getMonth()+1;

                if (month < 10) {
                    month = '0' + month;
                }

                var dateToShow = month + '/'+year
            %>
            <p>Expiration Date: <%= dateToShow%></p>
        </section>
        <form action="/manageCreditCards">
            <button class="login-button" type="get">Manage Credit Cards </button>
        </form>
    <% } %>
</section>
<section> </section>

<section> </section>

<section>
    <form action="/">
        <button style="width: 100%; background-color: #9090a0;" class="login-button" type="submit">Return to home</button>
    </form>
</section>

<script src="/main.js"></script>
</body>
</html>
